.hostel-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.hostel-item{
    font-family: Montserrat;
    padding: 40px;
    margin: 10px;
    background-color: rgb(70, 149, 223);
    border-radius: 5px;
    color: #fff;
    width:30%;
    word-spacing: 4px;
}
.hostel-name{
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 700;
}
.hostel-year{
    font-weight: 700;
}
.hostel-room-type{
    font-weight: 700;
}
@media(max-width:700px){
    .hostel-item{
        width:90%;
    }
}