.homeContent{
    /* background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('./static/images/pizza-bg.png'); */
    background: #333333;
    position: relative;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    height: auto;
  }
/* .homeContent .leftSide .container{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.homeContainer{
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
.homeContent .leftSide{
    min-height: 100vh;
    /* width:700px; */
    background-color: #555555;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    background:linear-gradient(rgba(80, 80, 80, 0.7),rgba(82, 82, 82, 0.7)),url('../../static/images/nithbg.jpg');
    background-size: cover;
}
.homeContent .rightSide{
    min-height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: center; */
    /* flex-grow: 100; */
}
/* .home-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
} */
.home-content div img{
    width: 220px;
    margin-bottom: 30px;
}
.home-title{
    text-transform: capitalize;
    font-size: 1.8em;
    line-height: 1.5em;
    font-weight: 400;
    font-family: Work Sans;
    color: #fff;
}
.home-FormTitle{
    margin-bottom: 20px;
    color: #bbbbbb;
}
.FormTitle__Link{
    color: #bbbbbb;
    text-transform: uppercase;
    padding: 10px;
}
.FormTitle__Link--Active{
    color: white;
    border-bottom: 1px solid #199087;
}
.extraLink{
    font-family: Montserrat;
}
.extraLink a{
    margin-left: 7px;
}
@media(max-width:700px){
    .homeContent{
        position: relative;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    .homeContent .leftSide{
        min-height: 20vh;
        height: auto;
        width: 100%;
        background-color: #555555;
    }
    .homeContent .rightSide{
        min-height: 50vh;
        flex-grow: 100;
        width: 100%;
    }
    .home-content div img{
        width: 90px;
        height: 90px;
        margin-bottom: 10px;
    }
    .home-title{
        font-size: 0.8em;
    }
}
