input:not([type=checkbox]):not([type=radio]),
textarea {
  background: transparent;
  font-size: 17px;
  margin-top: 10px;
  width: 100%;
  padding: 13px;
  outline: none;
  border: none;
  border-bottom: 2px solid #ccc;
  color: #999;
  font-family: Open Sans;
}